<html>
  <head>
    <meta charset="UTF-8">
    <title>Employees manager</title>
  </head>
  <body>
    <h1>Employees manager</h1>
    
    <form id="form" method="get" action="/search">
      <p>
        Insert the ID:
        <input type="text" name="id">
        <button type="submit" value="search" name="search">Search</button>
      </p>
    </form>
  </body>
</html>